.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.block {
  display: block;
}

.center-self {
  align-self: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.border-box {
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

.w-auto {
  width: auto;
}

.h-100 {
  height: 100%;
}

.w-50 {
  width: 50%;
}

.mw-100 {
  max-width: 100%
}

// 3rd party cookie information css overwrites

#Coi-Renew {
  left: unset !important;
  right: 0 !important;
  border-top-left-radius: 50% !important;
  border-top-right-radius: unset !important;
  transform-origin: bottom right !important;
}

.VueCarousel-dot-container {
  margin-top: 10px !important;
}
