<template>
  <div class="bg-cl-white w-100">
    <div class="row">
      <div
        class="col-md-12 p50 pl80"
      >
        <ul
          class="sub-menu"
        >
          <li
            v-for="(category, index) in categories"
            :key="`sub-menu-categories-${category.slug}-${index}`"
            class="sub-menu__item pt40"
          >
            <router-link
              class="sub-menu__link no-underline cl-aqua-deep fs-xsmall uppercase ls-1-7"
              :to="categoryLink(category)"
              @click.native="closeSubMenu"
            >
              {{ category.name }}
            </router-link>
            <div
              class="child-menu pt20"
              v-if="category.children_count > 0 && getCategoryChildren(category.id).length > 0"
            >
              <ul class="pl10">
                <li
                  class="mb5"
                  v-for="(child, childIndex) in getCategoryChildren(category.id)"
                  :key="`sub-menu-categories-child-${child.slug}-${childIndex}`"
                >
                  <router-link
                    class="sub-menu__link no-underline cl-cod-grey weight-normal lh22 fs-xsmall"
                    :to="categoryLink(child)"
                    @click.native="closeSubMenu"
                  >
                    {{ child.name }}
                  </router-link>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers'
import sortBy from 'lodash-es/sortBy'
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'SubMenu',
  props: {
    parentCategory: {
      type: Object,
      required: true
    }
  },
  computed: {
    categories () {
      const parentCategoryId = this.parentCategory.id
      const isLocalShop = !this.subdomain ? [0, 1] : [1, 2]
      return sortBy(this.getCategories.filter((category) => {
        return (
          isLocalShop.indexOf(category.local_shop) > -1 &&
          category.is_active &&
          category.include_in_menu &&
          category.parent_id === parentCategoryId
        )
      }), 'position')
    },
    menuElements () {
      return this.parentCategory.megamenu_widget_content_elements
    },
    ...mapGetters('category', ['getCategories']),
    ...mapState({
      subdomain: state => state.ui.subdomain
    })
  },
  methods: {
    categoryLink (category) {
      return formatCategoryLink(category)
    },
    closeSubMenu () {
      this.$emit('closeSubMenu')
    },
    getCategoryChildren (categoryId) {
      return sortBy(this.$store.state.category.list.filter(c => c.parent_id === categoryId), 'position')
    }
  }
}
</script>
<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';

  $color-link-hover: color(primary, $colors-theme);

  .sub-menu {
    list-style: none;
    padding-left: 0;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    column-rule: 1px solid #F0F0F0;

    &--columns {
      column-count: 4;
    }

    &__item {
      break-inside: avoid-column;
      padding-left: 30px;
      padding-right: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      .child-menu {
        ul {
          list-style: none;
          padding-left: 0;
        }
      }
    }

    &__link {
      transition: color 250ms;

      &:hover {
        color: $color-link-hover;
      }
    }
  }
</style>
