@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';

$color-primary: color(primary);
$color-tertiary: color(tertiary);
$color-secondary: color(secondary);
$color-white: color(white);
$bg-secondary: color(secondary, $colors-background);
$color-accent: color(accent);

input, select {
  height: 44px;
  line-height: 44px;
}

.styled-select {
  z-index: 3;
}
.styled-select-button {
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.06);
  &__placeholder {
    flex-grow: 1;
    font-family: "Spartan", sans-serif;
  }
  &:hover {
    border-color: $color-primary;
  }
}
.styled-select-list {
  box-shadow: 0 8px 10px 0 rgba(0,0,0,.1);
  overflow-y: auto;
  list-style: none;
  margin-top: 0;
  &__item {
    cursor: pointer;
    transition: color 250ms;
    display: flex;
    &--selected {
      color: $color-accent;
    }
    &:not(.styled-select-list__item--selected):hover {
      color: $color-primary;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}