// Global styles for text
body, html {
  font-size: 16px;
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
}

$serif: 'Spartan', sans-serif;
$sansSerif: 'Spartan', sans-serif;

// Atomic styles for text
.serif {
  font-family: $serif;
}
.sans-serif {
  font-family: $sansSerif;
}
.fs {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
h1,
.h1 {
  font-size: 42px;
  font-family: $serif;
  font-weight: 400;
}

h2,
.h2 {
  font-size: 30px;
  font-family: $serif;
  font-weight: 400;
}
h3,
.h3 {
  font-size: 24px;
  font-family: $serif;
  font-weight: 400;
}
h4,
.h4 {
  font-size: 18px;
  font-family: $serif;
  font-weight: 400;
}
h5,
.h5 {
  font-size: 14px;
  font-family: $serif;
  font-weight: 400;
}
h6,
.h6 {
  font-size: 12px;
  font-family: $serif;
  font-weight: 400;
}

p {
  font-size: 13px;
}

.nowrap {
  white-space: nowrap;
}
.uppercase {
  text-transform: uppercase;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-justify {
  text-align: justify;
}

.weight-normal {
  font-weight: 400;
}
.weight-medium {
  font-weight: 500;
}
.weight-semibold {
  font-weight: 600;
}
.weight-bold {
  font-weight: 700;
}

strong {
  font-weight: 600;
}

//opacity
.op-25 {
  opacity: 0.25;
}
.op-50 {
  opacity: 0.50;
}


//line height
.lh16 {
  line-height: 16px;
}
.lh20 {
  line-height: 20px;
}
.lh22 {
  line-height: 22px;
}
.lh24 {
  line-height: 24px;
}
.lh25 {
  line-height: 25px;
}
.lh30 {
  line-height: 30px;
}
.lh35 {
  line-height: 35px;
}
.lh40 {
  line-height: 40px;
}

.ls-0 {
  letter-spacing: 0;
}
.ls-0-8 {
  letter-spacing: 0.8px;
}
.ls-0-9 {
  letter-spacing: 0.9px;
}
.ls-1 {
  letter-spacing: 1px;
}
.ls-1-2 {
  letter-spacing: 1.2px;
}
.ls-1-3 {
  letter-spacing: 1.3px;
}
.ls-1-7 {
  letter-spacing: 1.7px;
}
.ls-1-8 {
  letter-spacing: 1.8px;
}
.ls-2 {
  letter-spacing: 2px;
}
.ls-2-2 {
  letter-spacing: 2.2px;
}
.ls-3 {
  letter-spacing: 3px;
}
.ls-4 {
  letter-spacing: 4px;
}
.ls-5 {
  letter-spacing: 5px;
}
.ls-6 {
  letter-spacing: 6px;
}


// Sizes
.fs-xxxxsmall {
  font-size: 9px;
}
.fs-xxxsmall {
  font-size: 10px;
}
.fs-xxsmall {
  font-size: 11px;
}
.fs-xsmall {
  font-size: 12px;
}
.fs-small {
  font-size: 13px;
}
.fs-normal {
  font-size: 14px;
}
.fs-medium-small {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-medium {
  font-size: 17px;
}
.fs-medium-medium {
  font-size: 20px;
}
.fs-medium-large {
  font-size: 22px;
}
.fs-large-small {
  font-size: 25px;
}
.fs-large {
  font-size: 27px;
}
.fs-xlarge {
  font-size: 35px;
}
.fs-xxlarge {
  font-size: 42px;
}
.fs-big {
  font-size: 48px;
}
.fs-bigger {
  font-size: 60px;
}
.fs-biggest {
  font-size: 70px;
}

// @todo its not in styleguite therefore shouldn't be here, ask Karol Bzik
.fs16 {
  font-size: 16px;
}
.fs32 {
  font-size: 32px;
}

$fs-xxxsmall: 10px;
$fs-xxsmall: 11px;
$fs-xsmall: 12px;
$fs-small: 13px;
$fs-normal: 14px;
$fs-medium-small: 15px;
$fs-medium: 17px;
$fs-medium-large: 24px;
$fs-large: 27px;
$fs-xlarge: 35px;
$fs-xxlarge: 42px;
$fs-big: 48px;
