[v-cloak],
.hidden {
  display: none;
}

.hidden-xs {
  display: none;

  @media only screen and (min-width:768px) {
    display: inherit
  }
}

.hidden-md {
  @media only screen and (min-width:768px) {
    display: none;
  }
}

.hidden-lg {
  @media only screen and (min-width:992px) {
    display: none;
  }
}

.hidden-xl {
  @media only screen and (min-width:1200px) {
    display: none;
  }
}

@media only screen and (min-width:768px) {
  .visible-xs {
    display: none;
  }
}
@media only screen and (max-width:768px) {
  .hidden-upto-sm {
    display: none;
  }
}
@media only screen and (max-width:992px) {
  .hidden-upto-md {
    display: none;
  }
}
@media only screen and (max-width:1200px) {
  .hidden-upto-lg {
    display: none;
  }
}
@media only screen and (max-width:1599px) {
  .hidden-upto-xl {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
