<template>
  <nav class="mega-menu ml20 h-100">
    <ul class="main-navigation p0 m0 flex w-100 h-100">
      <li
        class="main-navigation__item relative fs-medium weight-medium cl-mine-shaft h-100"
        v-for="category in categories"
        :key="`main-menu-${category.slug}`"
        :class="{
          'main-navigation__item--active': activeSubMenuId === category.id,
          'main-navigation__item--hide-menu': category.megamenu_hide
        }"
        @mouseenter="setActiveSubMenu(category.id, category.megamenu_hide)"
        @mouseleave="setActiveSubMenu(null, category.megamenu_hide)"
        @click="setActiveSubMenu(null)"
      >
        <router-link
          class="main-navigation__label no-underline h-100 fs-xsmall ls-1-7 uppercase flex middle-xs"
          :class="{ 'chev-me' : category.children_count > 0 }"
          :to="categoryLink(category)"
        >
          {{ category.name }}
        </router-link>
        <sub-menu
          v-if="category.children_count > 0"
          v-show="activeSubMenuId === category.id"
          :parent-category="category"
          @closeSubMenu="setActiveSubMenu(null)"
          class="sub-navigation fixed border-box"
        />
      </li>
    </ul>
  </nav>
</template>
<script>
import { mapGetters, mapState } from 'vuex'
import sortBy from 'lodash-es/sortBy'
import SubMenu from 'theme/components/theme/blocks/Header/MegaMenu/SubMenu/SubMenu'
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers'

export default {
  name: 'MegaMenu',
  components: {
    SubMenu
  },
  data () {
    return {
      activeSubMenuId: null,
      timer: null
    }
  },
  props: {
    showTopNotification: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  beforeMount () {
    this.$bus.$on('close-sub-menu', this.closeSubMenu)
  },
  computed: {
    ...mapGetters('category', ['getCategories']),
    ...mapState({
      subdomain: state => state.ui.subdomain
    }),
    categories () {
      const isLocalShop = !this.subdomain ? [0, 1] : [1, 2]
      return sortBy(this.getCategories.filter((category) => {
        return (
          isLocalShop.indexOf(category.local_shop) > -1 &&
          category.is_active &&
          category.include_in_menu &&
          category.level === 2
        )
      }), 'position')
    }
  },
  methods: {
    setActiveSubMenu (id, hideSubmenu) {
      if (!hideSubmenu) {
        this.activeSubMenuId = id
      }
    },
    categoryLink (category) {
      if (typeof category.category_redirect === 'string') {
        return this.localizedRoute('/' + category.category_redirect.replace(/^\/+/, ''))
      }
      return formatCategoryLink(category)
    },
    closeSubMenu () {
      this.setActiveSubMenu(null)
    }
  }
}
</script>
<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  @import '~theme/css/variables/grid';
  @import '~theme/css/animations/transitions';
  @import '~theme/css/base/global_vars';

  $color-aqua-deep: color(aqua-deep);

  .mega-menu {
    display: none;
    @include media-lg-up {
      display: block;
    }
  }

  .main-navigation {
    list-style: none;

    &__item {
      cursor: default;
    }

    &__label {
      padding: 0 11px;
      color: black;

      &.router-link-active, &:hover {
        color: $color-aqua-deep;
      }
      &.chev-me {
        &:after {
          background: url('/assets/chevdown.svg');
          background-repeat: no-repeat;
          background-position: center;
          content: ' ';
          display: inline-block;
          width: 6px;
          height: 6px;
          padding-left: 8px;
          padding-bottom: 8px;
          margin-bottom: 2px;
        }

        &:hover {
          &:after {
            height: 6px;
          }
        }
      }
    }
  }

  // for notification bar
  .sub-navigation {
    left: 0;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);

    &--top {
    }
  }
</style>
