// Colors
// ======
// @LandonSchropp's approach of naming color variables.
// - http://davidwalsh.name/sass-color-variables-dont-suck
// - http://www.color-blindness.com/color-name-hue/

// General colors palette
$colors: (
  transparent: transparent,
  black: #000,
  white: #fff,
  white-smoke: #f2f2f2,
  gainsboro: #e0e0e0,
  silver: #bdbdbd,
  gray: #828282,
  suva-gray: #8e8e8e,
  matterhorn: #4f4f4f,
  burnt-sienna: #eb5757,
  buccaneer: #755,
  forest-green: #308c14,
  puerto-rico: #4dba87,
  mine-shaft: #333,
  bush: #071C18,
  boulder: #767676,
  aqua-deep: #005544,
  genoa: #1B7C68,
  silver-chalice: #AAAAAA,
  steel: #BBBBBB,
  concrete: #F3F3F3,
  cod-grey: #1E1E1E,
  alabaster: #F8F8F8,
  gallery: #F0F0F0,
  mercury: #E5E5E5,
  calypso: #3B7B9B,
  steel-blue: #4086AA
);

// Theme generic colors
// Key: name of color
// Value: color value or map with default, hover, focus color values
$colors-theme: (
  primary: (
    default: map-get($colors, matterhorn),
    hover: map-get($colors, matterhorn)
  ),
  secondary: (
    default: map-get($colors, cod-grey),
    hover: map-get($colors, matterhorn),
  ),
  tertiary: (
    default: map-get($colors, aqua-deep),
    hover: map-get($colors, genoa)
  ),
  accent: (
    default: map-get($colors, matterhorn),
    hover: map-get($colors, black),
  ),
  success: map-get($colors, aqua-deep),
  warning: map-get($colors, buccaneer),
  error: map-get($colors, cod-grey),
  error-red: map-get($colors, burnt-sienna)
);

$colors-border: (
  primary: map-get($colors, silver),
  secondary: map-get($colors, gainsboro),
);

$colors-background: (
  primary: (
    default: map-get($colors, white),
    hover: map-get($colors, silver)
  ),
  secondary: (
    default: map-get($colors, concrete),
    hover: map-get($colors, gainsboro)
  ),
  tertiary: (
    default: map-get($colors, aqua-deep),
    hover: map-get($colors, genoa)
  )
);
