// Grid
// ====
// Settings for grid project
//
// stylelint-disable indentation, number-no-trailing-zeros

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-gutter-widths: (
  xs: 10px,
  sm: 30px,
  md: 30px,
  lg: 30px
) !default;

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1600px
);

$test: 2;
$screen: "only screen";

// breakpoint settings look helpers/bs-variables
$media-xl: "#{$screen} and (min-width:#{map-get($breakpoints, lg)})"; // min 1600px
$media-lg: "#{$screen} and (min-width:#{map-get($breakpoints, lg)})"; // min 1200px
$media-md-up: "#{$screen} and (min-width:#{map-get($breakpoints, md)})"; //min 1025px
$media-md: "#{$screen} and (min-width:#{map-get($breakpoints, md)}) and (max-width:#{map-get($breakpoints, lg) - 1})"; //min 1025px max 1199px
$media-to-md: "#{$screen} and (max-width:#{map-get($breakpoints, lg) - 1})"; //max 1199px
$media-sm-up: "#{$screen} and (min-width:#{map-get($breakpoints, sm)})"; // min 768px
$media-sm: "#{$screen} and (min-width:#{map-get($breakpoints, sm)}) and (max-width:#{map-get($breakpoints, md) - 1})"; // min 768 max 1024px
$media-to-sm: "#{$screen} and (max-width:#{map-get($breakpoints, md) - 1})"; // max 1024px
$media-xs: "#{$screen} and (max-width:#{map-get($breakpoints, sm) - 1})"; // max 767px
$media-xs-up: "#{$screen} and (min-width:#{map-get($breakpoints, xs)})";// min 1px
$media-to-xxs: "#{$screen} and (max-width:#{map-get($breakpoints, xsm)})"; // max 400px



@mixin media-xs  { @media only screen and (max-width: map-get($breakpoints, xs) - 1) { @content } }       // max 575
@mixin media-xs-up    { @media only screen and (min-width: map-get($breakpoints, xs))     { @content } }  // min 576
@mixin media-sm  { @media only screen and (max-width: map-get($breakpoints, sm) - 1) { @content } }       // max 767
@mixin media-sm-up    { @media only screen and (min-width: map-get($breakpoints, sm))     { @content } }  // min 768
@mixin media-md  { @media only screen and (max-width: map-get($breakpoints, md) - 1) { @content } }       // max 991
@mixin media-md-up    { @media only screen and (min-width: map-get($breakpoints, md))     { @content } }  // min 992
@mixin media-lg  { @media only screen and (max-width: map-get($breakpoints, lg) - 1) { @content } }       // max 1199
@mixin media-lg-up    { @media only screen and (min-width: map-get($breakpoints, lg))     { @content } }  // min 1200
@mixin media-xl  { @media only screen and (max-width: map-get($breakpoints, xl) - 1) { @content } }       // max 1599
@mixin media-xl-up    { @media only screen and (min-width: map-get($breakpoints, xl))     { @content } }  // min 1600

@mixin media-custom($breakpoint) { @media only screen and (max-width: $breakpoint - 1) { @content } }
@mixin media-custom-up($breakpoint) { @media only screen and (min-width: $breakpoint) { @content } }

